.PostItem{
    margin: 50px 0px;
    border:none;
}

.SearchBar{
    width:19%;
    /* height: 100%; */
    overflow: scroll;
    overflow-y: hidden;
    overflow-x: hidden;
    margin-top:4%;
    /* border: 1px red solid; */
    display: inline-block;
    /* background-color: aqua; */
}
.ProfilePage{
    width:79%;
    /* border: 1px blue solid; */
    overflow:scroll;
    overflow-y: hidden;
    overflow-x: hidden;
    display: inline-block;
}
.feedLine{
    margin: auto;
    width: 90%;
    /* height:1000px; */
    /* border:1px black solid; */
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.search-button{
    display: block;
    width: 100%;
    background: none;
    border: none;
    text-decoration: none;
    font-weight: bold;
    height: 30px;
    border-bottom: 1px black solid;

}

.inputbar:focus{
    outline: none;
}

.profilePic{
    width: 100px;
    height: 100px;
}
.searchBG{
    min-height: 100%;
    min-width: 100%;
     background-image: url(../icons/insta.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    background-attachment: fixed;
}
.internal{
    height: 100%;
    width: 100%;
    /* overflow: scroll;
    overflow-y: hidden;
    overflow-x: hidden; */
}